.container {
  width: 100%;
  padding: 0 20px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 90px;
  }
}

body {
  font-family: Helvetica Now Display, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.header__section {
  background-color: #020213;
  position: relative;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
}

.header__navigation-list {
  display: none;
}

.header__btn {
  display: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__btn:hover, .header__btn:focus {
  transform: scale(1.1);
}

.header__mobile-list {
  display: flex;
  align-items: center;
}

.header__mobile-item {
  margin-right: 20px;
}

.header__mobile-phone {
  width: 24px;
  height: 24px;
}

.header__mobile-burger {
  width: 16px;
  height: 16px;
  fill: #ffffff;
}

.header__mobile-menu {
  border: none;
  background-color: transparent;
  text-align: center;
}

.header__navigation-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__navigation-link:hover, .header__navigation-link:focus {
  color: #18e8a4;
}

.active {
  font-weight: 900;
  color: #18e8a4;
}

.header__menu-container {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  transform: translateX(-100%);
  overflow: hidden;
  padding: 20px;
  z-index: 2;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #020213;
  text-align: center;
}

.header__menu-item {
  margin-bottom: 40px;
}

.header__mobile-menu .header__mobile-icon {
  display: block;
}
.header__mobile-menu.is-open .header__mobile-icon {
  display: none;
}

.header__mobile-menu .header__mobile-iconClose {
  display: none;
}
.header__mobile-menu.is-open .header__mobile-iconClose {
  display: block;
}

.header__btn {
  width: 156px;
  height: 48px;
  background-color: rgba(20, 20, 26, 0.3);
  border: 2px solid #18e8a4;
  box-sizing: border-box;
  border-radius: 383px;
  color: #ffffff;
}

.header__mobile-btn {
  display: block;
  margin: 0 auto;
}

.is-open {
  transform: translateX(0);
}

@media screen and (min-width: 1440px) {
  .header__wrapper {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header__logo-link {
    width: 140px;
    height: 40px;
  }

  .header__mobile-list {
    display: none;
  }

  .header__navigation-list {
    display: flex;
    align-items: center;
  }

  .header__btn {
    display: block;
  }

  .header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__navigation-item:not(:last-child) {
    margin-right: 36px;
  }

  .header__menu-container {
    display: none;
  }

  .header__wrapper {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}
.hero__section {
  padding-bottom: 60px;
  background-color: #020213;
}

.hero__first-wrapper {
  margin-bottom: 42px;
  position: relative;
}

.hero__title {
  font-size: 40px;
  line-height: 1.11;
  letter-spacing: -1px;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 16px;
}

.hero__title-decoration {
  color: #18e8a4;
}

.hero__text {
  font-size: 16px;
  line-height: 1.55;
  color: #ffffff;
}

.hero__second-wrapper {
  margin-bottom: 85px;
}

.hero__firstImg-wrapper {
  margin-bottom: 4px;
  height: 140px;
  background-image: url("/hero-mobile1.cd5dc3f7.png");
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero__firstImg-wrapper {
    background-image: url("/hero-mobile1@2x.bd5e9f0f.png");
    background-size: contain;
  }
}
.hero__secondImg-wrapper {
  height: 70px;
  background-image: linear-gradient(180deg, rgba(2, 2, 19, 0) 0%, #020213 100%), url("/hero-mobile2.f9f4bd15.png");
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero__secondImg-wrapper {
    background-image: linear-gradient(180deg, rgba(2, 2, 19, 0) 0%, #020213 100%), url("/hero-mobile2@2x.6d74a7eb.png");
    background-size: contain;
  }
}
.hero__button-wrapper {
  text-align: center;
}

.hero-btn {
  width: 172px;
  height: 40px;
  background-color: #18e8a4;
  color: #020213;
  font-weight: 800;
  box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -337px;
}
.hero-btn:hover, .hero-btn:focus {
  background-color: #089b6a;
}

@media screen and (min-width: 768px) {
  .hero__firstImg-wrapper {
    background-image: none;
    height: 230px;
    margin-bottom: 0;
  }

  .hero__secondImg-wrapper {
    background-image: none;
    background: linear-gradient(180deg, rgba(2, 2, 19, 0) 0%, #020213 100%);
    height: 115px;
    background-position: bottom;
  }

  .hero__second-wrapper {
    height: 338px;
    max-width: 100%;
    background-image: url("/hero-tablet.2cf74668.png");
    background-position: center;
    margin-bottom: 51px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__second-wrapper {
    background-image: url("/hero-tablet@2x.7fe395a9.png");
    background-size: contain;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 56px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .hero__first-wrapper {
    margin-bottom: 19px;
  }
}
@media screen and (min-width: 768px) {
  .hero__button-wrapper {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .hero-btn {
    bottom: -405px;
    left: 54px;
    transform: translateY(0);
  }
}
@media screen and (min-width: 1440px) {
  .hero__second-wrapper {
    background-image: none;
    height: 676px;
    margin-bottom: 0;
  }

  .hero__firstImg-wrapper {
    height: 444px;
    background-image: url("/hero-desk1.4835b25d.png");
    background-position: center;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: auto;
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero__firstImg-wrapper {
    background-image: url("/hero-desk1@2x.1d1bf90a.png");
    background-size: cover;
  }
}
@media screen and (min-width: 1440px) {
  .hero__secondImg-wrapper {
    height: 212px;
    background-image: linear-gradient(180deg, rgba(2, 2, 19, 0) 0%, #020213 100%), url("/hero-desk2.ee526bec.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero__secondImg-wrapper {
    background-image: linear-gradient(180deg, rgba(2, 2, 19, 0) 0%, #020213 100%), url("/hero-desk2@2x.962a0f51.png");
    background-size: cover;
  }
}
@media screen and (min-width: 1440px) {
  .hero__button-wrapper {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .hero__section {
    padding-bottom: 194px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__section > .container {
    position: relative;
  }
}
@media screen and (min-width: 1440px) {
  .hero__first-wrapper {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title {
    margin: 0;
    width: 430px;
    margin-right: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__text {
    width: 576px;
    font-size: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-btn {
    margin: 0;
    padding: 0;
    width: 378px;
    height: 212px;
    margin: 0;
    opacity: 0.9;
    bottom: -463px;
    left: 240px;
  }
}
.about__section {
  padding: 48px 0;
}

.about__title {
  margin-bottom: 31px;
  font-weight: 900;
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 0.9;
  color: #202523;
}
.about__title > span {
  display: block;
}

.about__text {
  font-size: 16px;
  line-height: 1.8;
  color: #545460;
}
.about__text:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .about__section {
    padding: 80px 0;
  }

  .about__title {
    margin-bottom: 48px;
    font-size: 32px;
  }
  .about__title > span {
    display: inline;
  }

  .about__text-wrapper {
    display: flex;
  }

  .about__text:not(:last-child) {
    margin-bottom: 0;
    margin-right: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .about__section {
    padding-top: 100px;
    padding-bottom: 118px;
  }

  .about__section > .container {
    display: flex;
  }

  .about__title {
    width: 320px;
    margin-right: 100px;
    font-size: 62px;
  }

  .about__text {
    width: 400px;
  }
  .about__text:not(:last-child) {
    margin-right: 40px;
  }
}
.recruitment__section {
  position: relative;
  padding-top: 64px;
  padding-bottom: 48px;
  background-color: #d5d4d9;
  box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09);
}

.recruitment__section-bg {
  height: 167px;
  width: 100%;
  bottom: 84px;
  background-size: contain;
  background-position: center;
  z-index: 2;
  position: absolute;
  background-image: url("/steps-flow-mob.b979bbc1.png");
}

.recruitment__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -1px;
  color: #202523;
  margin-bottom: 28px;
}

.recruitment__text--wrapper {
  margin-bottom: 55px;
}

.recruitment__text {
  font-size: 16px;
  line-height: 1.8;
  color: #485563;
}
.recruitment__text:not(:last-child) {
  margin-bottom: 12px;
}

.slider--wrapper {
  height: 514px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center bottom 30px;
  border-radius: 16px;
  padding: 32px 25px;
  position: relative;
  margin-bottom: 124px;
}

.slider--wrapper-1 {
  background-image: url("/mob.a1c68dfa.png");
}

.slider--wrapper-2 {
  background-image: url("/mob2.8a0b5cb7.png");
}

.slider--wrapper-3 {
  background-image: url("/mob.a1c68dfa.png");
}

.slider--wrapper-4 {
  background-image: url("/mob2.8a0b5cb7.png");
}

.slider--label {
  color: #545460;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 16px;
}

.slider--title {
  font-weight: 800;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -1px;
  color: #202523;
  margin-bottom: 24px;
}
.slider--title > span {
  display: block;
}

.slider--text {
  font-size: 16px;
  line-height: 1.56;
  color: #596067;
}

.swiper-pagination-bullet {
  height: 16px;
  width: 16px;
  background-image: url("/ellipse.59005fc7.png");
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.09);
}

.swiper-pagination-bullet-active {
  width: 40px;
  height: 16px;
  background-image: none;
  border-radius: 16px;
  background-color: #18e8a4;
}

.slider--text-2 {
  display: none;
}

@media screen and (min-width: 768px) {
  .recruitment__section {
    padding-top: 80px;
    padding-bottom: 56px;
  }

  .recruitment__title {
    margin-bottom: 32px;
  }

  .slider--wrapper {
    width: 354px;
  }

  .swiper-slide {
    width: auto;
  }

  .slider--title > span {
    display: inline;
  }

  .recruitment__text--wrapper {
    display: flex;
  }

  .recruitment__text {
    width: 338px;
    margin-bottom: 0;
  }
  .recruitment__text:not(:last-child) {
    margin-right: 52px;
    margin-bottom: 0;
  }

  .recruitment__text--wrapper {
    margin-bottom: 32px;
  }

  .slider--wrapper {
    margin-bottom: 132px;
  }

  .recruitment__section-bg {
    bottom: 92px;
    background-image: url("/steps-flow-tab.a14ca781.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (min-width: 1440px) {
  .recruitment__section {
    padding-top: 100px;
    padding-bottom: 86px;
  }

  .slide-3 {
    display: none;
  }

  .slide-4 {
    display: none;
  }

  .recruitment__title--wrapper {
    display: flex;
    margin-bottom: 54px;
  }

  .recruitment__text--wrapper {
    display: block;
  }

  .recruitment__title {
    margin-bottom: 0;
    margin-right: 285px;
    width: 363px;
    font-size: 62px;
  }

  .recruitment__text {
    width: 612px;
    font-size: 24px;
    line-height: 1.56;
  }
  .recruitment__text:not(:last-child) {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .slider--wrapper {
    width: 620px;
    height: 457px;
  }

  .slider--title {
    font-style: 32px;
    margin-bottom: 16px;
  }
  .slider--title > span {
    display: block;
  }

  .slider--text {
    width: 300px;
  }
  .slider--text:not(:last-child) {
    margin-right: 24px;
  }

  .slider--text-2 {
    display: block;
    width: 248px;
  }

  .slider--text-wrapper {
    display: flex;
  }

  .slider--wrapper {
    background-position: bottom 58px right 35px;
  }

  .slider--wrapper-2 {
    background-position: bottom 58px right 35px;
    background-image: url("/desc2.1d7ff1e4.png");
  }

  .recruitment__section-bg {
    bottom: 118px;
    background-image: url("/steps-flow-desc.c5d679f4.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */