$fontStyle: Helvetica Now Display, sans-serif;
$whiteColor: #ffffff;
$blackColor: hsl(156, 7%, 14%);
$accentColor: #18e8a4;
$primaryTextColor: #545460;
$titleColor: #202523;
$heroBgcColor: #020213;
$bezier: cubic-bezier(0.4, 0, 0.2, 1);
$heroOverlay: rgba(2, 2, 19, 0);
