<header class="header__section">
  <div class="container header__wrapper">
    <nav class="header__navigation">
      <a class="header__logo-link" href="./index.html">
        <img src="./images/logo.png" alt="logo" />
      </a>
      <ul class="header__navigation-list">
        <li class="header__navigation-item">
          <a class="header__navigation-link" href="#">Company</a>
        </li>
        <li class="header__navigation-item">
          <a class="header__navigation-link" href="#">Services</a>
        </li>
        <li class="header__navigation-item">
          <a class="header__navigation-link" href="#">Blog</a>
        </li>
        <li class="header__navigation-item">
          <a class="header__navigation-link active" href="#">Career</a>
        </li>
      </ul>
      <button class="header__btn" type="button">Contact Us</button>
    </nav>
    <ul class="header__mobile-list">
      <li class="header__mobile-item">
        <a href="tel:+380936186848">
          <svg class="header__mobile-phone">
            <use href="./images/sprite.svg#icon-Contact"></use>
          </svg>
        </a>
      </li>
      <li class="header__mobile-item">
        <button type="button" class="header__mobile-menu" data-menu-button>
          <svg class="header__mobile-burger">
            <use class="header__mobile-icon" href="./images/sprite.svg#icon-burger"></use>
            <use class="header__mobile-iconClose" href="./images/sprite.svg#icon-close"></use>
          </svg>
        </button>
      </li>
    </ul>
    <div class="header__menu-container" data-menu>
      <ul>
        <li class="header__menu-item">
          <a class="header__navigation-link" href="#">Company</a>
        </li>
        <li class="header__menu-item">
          <a class="header__navigation-link" href="#">Services</a>
        </li>
        <li class="header__menu-item">
          <a class="header__navigation-link" href="#">Blog</a>
        </li>
        <li class="header__menu-item">
          <a class="header__navigation-link active" href="#">Career</a>
        </li>
      </ul>
      <button class="header__btn header__mobile-btn" type="button">Contact Us</button>
    </div>
  </div>
</header>
