<section class="hero__section">
  <div class="container">
    <div class="hero__first-wrapper">
      <h1 class="hero__title">
        We’ve got the job for you<span class="hero__title-decoration">!</span>
      </h1>
      <p class="hero__text">
        We offer experienced IT specialists to be involved in ground-breaking digital projects and
        IT novices to develop skills in our perspective workplace.
      </p>
      <button type="button" class="hero-btn hero-btn-desctop">See All Roles</button>
    </div>
  </div>
  <div class="hero__second-wrapper">
    <div class="hero__firstImg-wrapper"></div>
    <div class="hero__secondImg-wrapper"></div>
  </div>
  <div class="container hero__button-wrapper">
    <button type="button" class="hero-btn">See All Roles</button>
  </div>
</section>
